# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/download

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.*.swp

bin/deploy.sh

src/data/time_series_covid19_deaths_global.json
src/data/time_series_covid19_confirmed_global.json
src/data/time_series_covid19_confirmed_US.json
src/data/time_series_covid19_deaths_US.json
src/data/UID_ISO_FIPS_LookUp_Table.json
