.Country {
  padding: 8px;
  height: 20px;
}

.Country input {
  margin: 0px 10px 0px 0px;
}

.Country label {
  margin: 0px 20px 0px 3px;
}

.Population {
  margin-left: 7px;
  font-size: 9px;
  color: #666666;
}

.Province {
  font-size: 12px;
}
