.CountrySelector {
  width: 275px;
}

.CountrySelector ul {
  list-style: none;
  width: auto;
  padding-left: 0px;
}

.SelectedContainer {
  background-color: #eaeaea;
}

.CountryListContainer {
  overflow-y: scroll;
  height: 300px;
}
