.App {
  text-align: center;
}


.App-footer {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
  padding: 4px;
}

.App-link {
  color: #61dafb;
}
